<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Deleted Data's</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'deletedevent'  %}">Vehicle Data</a>
        <a class="dropdown-item" href="{% url 'deletedevent2'  %}">Theft Data</a>
        <a class="dropdown-item" href="{% url 'deletedevent3'  %}">Murder Data</a>
    </div>
</div>
