<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Event Type
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="{% url 'upload' %}">Vehicle Form</a>
      <a class="dropdown-item" href="{% url 'case2' %}">Theft Form</a>
      <a class="dropdown-item" href="{% url 'case3' %}">Murder Form</a>
    </div>
  </div>