{% extends 'index.html' %}
{% load static %}
{% block content %}
<style>
  @media screen and (max-width: 767px){
    .upload-form{
        float: left;
        position: relative;
        top: 30vh;
      }
      .card-body{
        width: 60vw;
        height: 70vh;
      }
      .Tips{
        left: 0vw;
        width: 60vw;
      }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .upload-form{
        float: left;
        left: 10vw;
      }
      .card-body{
        width: 60vw;
      }
      .Tips{
        left: 29vw;
        width: 30vw;
      }
}


    @media screen and (min-width: 1024px) {
      .upload-form{
        float: left;
        left: 15vw;
      }
    }
</style>
<section class="card-body" >
  <div class="card-header">
   <h4 class="label"> Change Password</h4> 
  </div>
  
  <div class="create-alarm">
    {% for msg in messages %}
      <h3>{{msg}}</h3>
    {% endfor %} 
  </div>
  
  <form method="POST" class="upload-form" style="margin: 0 10px;">
    {% csrf_token %}
    <div class="form">
      {% for fields in form %}
      <div class="form__group">
        <label class="upload-label">{{fields.label}} 
        <div class="upload-fields">
          {{fields}}
        </div>
      </div>
      {% endfor %}
      <div class="btn-upload" >
        <button class="btn-solid-sm"  value="submit" >Change</button> 
      </div>
    </div>
  </form>
  
  <div class="Tips">
    <h5>Tips</h5>
    <hr>
    <p>1. Password Cannot be similar to other Personal information!</p>
    <p>2. Password must contain at least 8 characters.</p>
    <p>3. "Can Include @/01/Aa" </p>
  </div>

</section>
{% endblock content %}