{% extends 'index.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated and user.is_superuser %}
<style>
.upload-form{
  float: left;
  margin: 1vh 12vw;
}
.form__group{
  margin-left: 2vw;
}
.btn-upload{
  margin-left: 2vw;
}
@media screen and (max-width: 767px){
  .creat-reg-plate{
    position: relative;
  left: 15vw;
  width: 60%;
}
.card-body {
  width: 50vw;
}
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .creat-reg-plate{
    position: relative;
  left: 7vw;
  width: 70%;
}
.card-body {
  width: 45vw;
}
}


@media screen and (min-width: 1080px) and (max-width: 1365px){
  .creat-reg-plate{
    position: relative;
  left: 5vw;
  width: 80%;
}
.card-body {
  width: 35vw;
}
.create-choise{
    margin-left: -12vw;
  }
}

@media screen and (max-width: 1366px) {
  .form__group{
    margin-left: -2vw;
  }
  .create-choise{
    margin-left: -6vw;
  }
}
</style>
<section>
  <div class="create-choise ">
    <h3 class="create"><a href="{% url 'creatregion' %}" class="choise first-choise">Region</a></h3>
    <h3 class="create"><a href="{% url 'createpis' %}" class="choise ">Plate Intended Service</a></h3>
    <h3 class="create "><a href="{% url 'createpr' %}" class="choise">Plate Region</a></h3>
  </div>

  <div class="card-body " style="height: 200px; top: 10vh;">

    <div class="create-alarm">
      {% for msg in messages %}
        <h3>{{msg}}</h3>
      {% endfor %} 
    </div>
    
    <div class="card-header">
      <h4 class="label"> Create Region</h4> 
    </div>
  
    
    <form action="" method="post" class="upload-form" >
      {% csrf_token %}
      <div class="form">
        <div class="form__group">
          <label class="upload-label">{{regionform.label}}</label>
          <div class="upload-fields">
            {{regionform}}
          </div>

          <div class="btn-upload" >
            <button class="btn-solid-sm"  value="submit" >Create</button>
          </div>
        </div>

      </div>
      
    </form>

  </div>

  <div class="creat-reg-plate">
    <div class="title">
      <h4 style="color: white;">Total of <strong class="strong">{{regionnum}}</strong> Regions</h4>
    </div>
    
    <!-- user data -->
    <table>
      <thead>
        <tr>
          <th>Region Name</th>
          <th>Created By</th>
          <th>Created At</th>
          <th>View</th>
        </tr>
      </thead>
      
      <tbody>
        {% for regions in Region_list %}
        <tr>
          <th>{{regions.name}}</th>
          <th>{{regions.created_by}}</th>
          <th>{{regions.created}}</th>
          <th><a href="{% url 'regions' regions.id %}"><button class="btn-solid-sm" >View</button></a></th>
        </tr>
        {% endfor %} 
      </tbody>
    </table> <!--END "user data" END-->
    
    <div class="pagination">
      <strong>
        {% if Region_list.has_previous %}
        <a href="?page-1="> <span class="fa-solid fa-arrow-left"></span></a>
        <a href="?page={{ Region_list.previous_page_number }}">Previous</a>
        {% endif %}
        <h5>{{ Region_list }}</h5>
        {% if Region_list.has_next %}
        <a href="?page={{ Region_list.next_page_number }}">Next</a>
        <a href="?page={{ Region_list.paginator.num_pages }}"> <span class="fa-solid fa-arrow-right"></span></a>
        {% endif %}
      </strong>
    </div>
    
  </div>
</section>
{% else %}
{% include 'note.html' %}
{% endif %}
{% endblock content %}